@import "./colors.scss";

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 75%;
  margin: auto;
}

.nav {
  @include flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 3px solid $Light-grayish-blue;
  position: relative;

  &__nothing {
    @include flex;
    margin: 1.5rem;
    height: 2.5rem;
    color: $Grayish-blue;
  }

  &__cartContainer {
    position: relative;
  }

  &__cartCounter {
    @include flex;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    background-color: $Orange;
    font-size: 0.5rem;
    font-weight: 700;
    color: #fff;
  }

  &__cartDropDown {
    position: absolute;
    top: 4rem;
    right: -4rem;
    width: 26%;
    background-color: #fff;
    z-index: 20;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  }

  &__cartFlex {
    @include flex;
    justify-content: space-between;
    height: 2.5rem;
    margin: 1.5rem;
  }

  &__cartTitle {
    padding: 1rem 1.5rem;
    font-weight: 700;
    border-bottom: 3px solid $Light-grayish-blue;
  }

  &__thumb {
    height: 100%;
  }

  &__cartDetail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__buttonContainer {
    margin: 1.5rem;
  }

  &__cartCheckout {
    color: #fff;
    height: 2.5rem;
    width: 100%;
    background-color: $Orange;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }

  img {
    cursor: pointer;
  }

  &__left,
  &__right {
    @include flex;
    gap: 5rem;
  }

  &__right {
    gap: 2rem;
  }

  &__links {
    @include flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: $Dark-grayish-blue;
      padding: 2rem 0;
      border-bottom: 5px solid transparent;

      &:hover {
        color: $Very-vark-blue;
        border-bottom: 5px solid $Orange;
      }
    }
  }

  &__avatar {
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid transparent;
    border-radius: 50%;

    &:hover {
      border: 3px solid $Orange;
    }
  }
}

.main {
  @include flex;
  align-items: flex-start;

  &__slider {
    flex-basis: 50%;
    padding: 4rem;
  }

  &__sliderFlex {
    width: 100%;
    @include flex;
    margin-top: 1rem;
    gap: 1rem;

    div {
      width: 100%;
      aspect-ratio: 1/1;
      cursor: pointer;
      position: relative;
      border: 5px solid transparent;
      border-radius: 10px;

      &.active {
        border: 5px solid $Orange;

        img {
          opacity: 0.5;
        }
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        object-fit: cover;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__imageContainer {
    width: 100%;
    height: 55vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  &__text-content {
    flex-basis: 50%;
    padding: 4rem 2rem;
    padding-right: 8rem;
  }

  &__topText {
    text-transform: uppercase;
    color: $Orange;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  &__paragraph {
    line-height: 1.5rem;
    color: $Dark-grayish-blue;
    margin-bottom: 2rem;
  }

  &__priceFlex {
    @include flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: 1.5rem;
    color: $Very-vark-blue;
  }

  &__discount {
    padding: 0.1rem 0.5rem;
    background-color: $Pale-orange;
    font-weight: 700;
    color: $Orange;
    border-radius: 0.25rem;
  }

  &__originalPrice {
    text-decoration: line-through;
    font-weight: 700;
    color: $Grayish-blue;
    margin-bottom: 3rem;
  }

  &__addToCart {
    @include flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__plusMinus {
    @include flex;
    gap: 2rem;
    padding: 1rem;
    background-color: $Light-grayish-blue;
    font-weight: 700;
    border-radius: 0.5rem;

    img {
      cursor: pointer;
    }
  }

  &__counter {
    width: 1rem;
  }

  &__cartButton {
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: $Orange;
    @include flex;
    gap: 0.5rem;
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    img {
      filter: brightness(10);
    }
  }
}
